
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}RomeMars{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta name="Title" content="Romemars est un jeu par navigateur en temps réel.">
    <meta name="Description" content="Romemars est un jeu de strategie par navigateur en temps réel.Basé sur un univers romain, choissisez vos unités en fonction de votre stratégie et venez défier d'autres joueurs sur une carte interactive.">
    <meta name="Keywords" content="romemars,rome,jeu,navigateur,tour par tour,romain,strategie,web,jeu-web">
    <meta name="Subject" content="Jeu par navigateur">
    <meta name="Copyright" content="RomeMars">
    <meta name="Author" content="RomeMars">
    <meta name="Publisher" content="RomeMars">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/rmplatform/images/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/rmplatform/images/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/rmplatform/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/rmplatform/images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/rmplatform/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}

        <!--Main Stylesheet-->
        {% stylesheets filter='cssrewrite'
        '@RMPlatformBundle/Resources/public/css/*'
        '@RMPlatformBundle/Resources/public/css/accordion/*'

        %}

        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}


        <link href="{{ asset('bundles/aretusaflash/css/flash-message.css') }}" type="text/css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" type="text/css" rel="stylesheet" />
    {% endblock %}




    <![endif]-->

</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <header class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">

                    <a class="navbar-brand" href="{{path('rm_platform_home')}}">  <img src="{{ asset('bundles/rmplatform/images/layout/romemars.png') }}" alt=""/></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                </div>
                <div class="navbar-collapse collapse" id="menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"> <a href="{{path('rm_platform_home')}}">Accueil</a></li>
                        <li> <a  class="visited"  href="{{ path('rm_platform_login') }}">Jouer </a></li>
                        <li class="active"> <a href="{{path('rm_platform_help')}}" target="_blank" >Guide</a></li>
                        <li class="active"> <a href="{{path('rm_platform_galerie')}}">Galerie</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </nav>
        </div>
    </header>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="{{ asset('bundles/rmplatform/images/slider/slider.png') }}" alt="First slide">

        </div>


    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-up option-carousel mask-carousel" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>


</div><!-- /.carousel -->

<div id="sep_bg"></div>


{% block rmplatform_body %}

{% endblock %}
<!-- Wrap the rest of the page in another container to center all the content. -->


<!-- /END THE FEATURETTES -->

<!-- FOOTER -->

<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="nav navbar-nav">
                    <li> <a href="{{path('rm_platform_home')}}">Accueil</a></li>
                    <li> <a href="{{ path('rm_platform_login') }}">Jouer </a></li>
                    <li class="active"> <a href="{{path('rm_platform_help')}}" target="_blank" >Guide</a></li>
                    <li class="active"> <a href="{{path('rm_platform_galerie')}}" >Galerie</a></li>
                </ul>
            </div>
            <div class="col-md-3" style="top:15px">
                &copy; {{ "now"|date("Y") }} RomeMars
            </div>
        </div>
    </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
    {% javascripts
    '@RMPlatformBundle/Resources/public/js/jquery.js'
    '@RMPlatformBundle/Resources/public/js/bootstrap.js'


    %}
    <script src="{{ asset_url }}"></script>
    <!-- <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script> -->
    {% endjavascripts %}
    {% javascripts
    '@RMPlatformBundle/Resources/public/js/jquery.datatables.js'
    '@RMPlatformBundle/Resources/public/js/bootstrap.datatables.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
    '@RMPlatformBundle/Resources/public/js/tables/jquery-migrate-1.0.0.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery-ui-1.10.0.custom.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.chosen.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.uniform.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.cleditor.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.noty.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.elfinder.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.raty.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.uploadify-3.1.min.js'
    '@RMPlatformBundle/Resources/public/js/tables/custom.js'
    '@RMPlatformBundle/Resources/public/js/tables/jquery.slimscroll.min.js'
    '@RMPlatformBundle/Resources/public/js/main.js'
    '@RMPlatformBundle/Resources/public/js/accordion/accordion.js'
    '@RMPlatformBundle/Resources/public/js/gridder.js'


    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/aretusaflash/js/flash-message.js') }}" type="text/javascript"></script>
    <script>

        $( ".option-carousel" ).click(function() {
            if($( this ).hasClass( "mask-carousel" )){
                $("#myCarousel").animate({ 'height': "232px" }, 'fast');
                $(".carousel-inner").animate({ 'height': "234px" }, 'fast');
                $(this).removeClass("mask-carousel glyphicon-chevron-up").addClass("show-carousel glyphicon-chevron-down");

            }else{
                $("#myCarousel").animate({ 'height': "500px" }, 'fast');
                $(".carousel-inner").animate({ 'height': "100%" }, 'fast');
                $(this).removeClass("show-carousel glyphicon-chevron-down").addClass("mask-carousel glyphicon-chevron-up");
            }

        });

    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76219576-1', 'auto');
        ga('send', 'pageview');

    </script>



{% endblock %}
</body>
</html>
