{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

    {% block rmplatform_slider %}
  <div class="slider" style="height: 425px" >
  <div class="slide slide-1">
       <img src="{{ asset('public/images/placeholders/slider_1.jpg') }}" alt=""/>
  </div>
  <div class="slide slide-2">
    <img src="{{ asset('public/images/placeholders/slider_2.jpg') }}" alt=""/>
  </div>
  <div class="slide slide-3">
    <img src="{{ asset('public/images/placeholders/slider_3.jpg') }}" alt=""/>

  </div>
</div>
  <div id="sep_bg"></div>

{% endblock %}
{% block rmplatform_body %}


<section id="main">
  <div class="container_16 clearfix">

    <h2 class="luck grid_16">Se connecter !</h2>

    <div class="clear"></div><div class="big_sep"></div><div class="clear"></div>

      <div id="contact-form" class="grid_8">

        <div id="fields">
          
            {# S'il y a une erreur, on l'affiche dans un joli cadre #}
            {% if error %}
              <div class="alert alert-danger">{{ error.message }}</div>
            {% endif %}
            {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
            <form action="{{ path('login_check') }}" method="post">
              <label for="username">Login :</label>
              <input type="text" id="username" name="_username" value="{{ last_username }}" />

              <label for="password">Mot de passe :</label>
              <input type="password" id="password" name="_password" />
              <br />
              <input type="submit" value="Connexion" />
            </form>
            
            
            
        </div>
        <div id="note" class="osans-s"></div>

      </div><!--//contact-form-->


  </div><!--container_16-->
</section>





{% endblock %}