{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}- Blog
{% endblock %}

   {% block rmplatform_body %}

       <section id="main">

           <div class="container container-big">

               {% for advert in article %}
                   <div class="col-sm-offset-2 col-md-9">


               <h2 style="position: relative;margin-left: 99px;">{{ advert.title }}</h2>
                   <div class="big_sep"></div>

                       <p class="lead justify">{{ advert.content }}</p>


                       <p>Par {{ advert.author }} le {{ advert.date |date('d/m/Y') }}</p>

                   </div>








               {% endfor %}


           </div>

       </section>
   {% endblock %}


