{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}- Guide
{% endblock %}

   {% block rmplatform_body %}

       <section id="main">

           <div class="container container-big">

               <ul class="gridder">
                   <li class="gridder-list" data-griddercontent="#gridder-content-101">
                       <div class="image" style="background-image: url('{{ asset('bundles/rmplatform/images/galerie/capture-1.png') }}');">
                           <div class="overlay">
                               <span class="title">Room</span><br>
                               <span class="description">Trouvez votre adversaire ou tchattez avec des joueurs en lignes</span>
                           </div>
                       </div>

                   <li class="gridder-list" data-griddercontent="#gridder-content-102">
                       <div class="image" style="background-image: url('{{ asset('bundles/rmplatform/images/galerie/capture-2.png') }}');">
                           <div class="overlay">
                               <span class="title">Team</span><br>
                               <span class="description">Choissisez votre équipe !</span>
                           </div>
                       </div>

                   <li class="gridder-list" data-griddercontent="#gridder-content-103">
                       <div class="image" style="background-image: url('{{ asset('bundles/rmplatform/images/galerie/capture-3.png') }}');">
                           <div class="overlay">
                               <span class="title">Map</span><br>
                               <span class="description">Combattez sur la carte !!</span>
                           </div>
                       </div>


               </ul>

               <div id="gridder-content-101" class="gridder-content">
                   <img src="{{ asset('bundles/rmplatform/images/galerie/capture-1.png') }}">
                   <div class="description">

                   </div>
               </div>
               <div id="gridder-content-102" class="gridder-content">
                   <img src="{{ asset('bundles/rmplatform/images/galerie/capture-2.png') }}">
                   <div class="description">

                   </div>
               </div>
               <div id="gridder-content-103" class="gridder-content">
                   <img src="{{ asset('bundles/rmplatform/images/galerie/capture-3.png') }}">
                   <div class="description">

                   </div>
               </div>


           </div>

       </section>
   {% endblock %}


