{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}- Guide
{% endblock %}

   {% block rmplatform_body %}

       <section id="main">

           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <h2>RomeMars</h2>
                   </div>
                   <div class="col-lg-12">
                       <p class="lead">Romemars est le premier jeu de stratégie en temps réel par navigateur, choissisez votre adversairerrent , adaptez votre stratégie en fonction des unités proposées et lancez vous dans une bataille de plateau prenante.  </p>
                   </div><!-- /.col-lg-4 -->
               </div>

               <div class="row">
                   <div class="col-lg-12">
                       <div class="accordion">
                           <dl>
                               <dt>
                                   <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Comment jouer ?</a>
                               </dt>
                               <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                                   <p>Très simple il suffit de se rendre ici <a href="{{path('rm_platform_login')}}">jouer</a>. Aucune inscription au préalable n'est requise, seulement un pseudo pour pouvoir commencer à jouer.</p>
                               </dd>
                               <dt>
                                   <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                                       Se trouver un adversaire</a>
                               </dt>
                               <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                                   <p>En arrivant sur le room vous avez la liste des joueurs en ligne. Il y a deux types de status ceux disponible ou ceux en guerre. Ceux en guerre sont les joueurs déjà en bataille et les disponibles sont ceux qui seront plus enclin à vous donner une réponse positif à votre  demande d'attaque.
                                      Pour réaliser une demande d'attaque il faut cliquer sur l'icone d'épée croisée.
                                   </p>
                                   <p>Vous pouvez envoyer jusqu'a 3 attaques simultanements.</p>
                               </dd>
                               <dt>
                               <dt>
                                   <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                       Comprendre les notifications
                                   </a>
                               </dt>

                               <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                   <p>Un aspect important de RomeMars sont les notifications elles permettent de connaitre vos moindres actions. Il en existe trois : </br>
                                       - Un éclair pour les attaques envoyées</br>
                                       - Un bouclier pour les attaques reçues</br>
                                       - Une étoile pour les attaques refusées. </p>



                                   <p>Par défaut elles sont de couleur verte mais si vous attaquez une personne connectée votre notification "Eclair" clignotera jusqu'à devenir orange.
                                       La notification bouclier passera en orange pour votre adversaire afin de lui signaler votre demande.
                                       Libre à lui de vous répondre ou non favorablement mais quelque soit sa décision, vous en serez avertis.
                                   </p>


                               </dd>
                               <dt>
                                   <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">
                                       Les unités
                                   </a>
                               </dt>
                               <dd class="accordion-content accordionItem is-collapsed" id="accordion4" aria-hidden="true">
                                   <p>RomeMars propose trois unités différentes mais beaucoup d'autres viendront éttoffer ce choix dans les prochains mois.</br>
                                   <strong>Paysan : </strong> Une unité rapide mais faible au corps à corps contre la milice. Cette unité est conseillée pour débusquer les archers</br>
                                   <strong>Archer : </strong> L'archer est la seule unité qui peut attaquer à distance mais aussi au corps à corps. Elle est parfaite pour soutenir les attaques des paysans ou des miliciens. Mais attention à ne pas la laisser sans défense</br>
                                   <strong>Milice : </strong> Une unité lente mais puissante au corps à corps mais ne vous laissez pas emporter par sa puissance car vous pourriez rapidement tomber sous les flèches des archers </p>

                               </dd>
                               <dt>
                                   <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">
                                       Bataille !
                                   </a>
                               </dt>
                               <dd class="accordion-content accordionItem is-collapsed" id="accordion5" aria-hidden="true">
                                   <p>Enfin après avoir trouvé votre adversaire, choisis vos unités, vous allez pouvoir mener votre bataille !</p>
                                   <p>Le joueur qui est attaque possède des unités de couleurs rouge et celui qui défend de couleur bleu. </p>
                                   <p><strong>Pour selectionner votre unité vous devez cliquer sur son image. </strong> Ensuite deplacez le curseur de votre souris sur la carte pour déclencher le déplacement de votre unité.
                                       Chaque unité peut se déplacer ou attaquer une seule fois par tour, si un adversaire se trouve à votre portée, il est possible de se deplacer et de l'attaquer, le tout en une seule fois.

                                   </p>

                               </dd>
                               <dt>
                                   <a href="#accordion6" aria-expanded="false" aria-controls="accordion6" class="accordion-title accordionTitle js-accordionTrigger">
                                       Tour par tour
                                   </a>
                               </dt>
                               <dd class="accordion-content accordionItem is-collapsed" id="accordion6" aria-hidden="true">
                                   <p>RomeMars est basé sur un système de tour par tour, une fois vos deplacements ou attaques faites vous devez valider votre tour pour que votre adversaire puisse jouer.
                                       Si vous ne jouez pas dans le temps imparti (deux minutes), le tour passe à votre adversaire. La partie accepte jusqu'a 3 passages de tour sinon le combat s'annule et vous etes de retour sur la page room.
                                   </p>

                               </dd>
                               <dt>
                                   <a href="#accordion7" aria-expanded="false" aria-controls="accordion7" class="accordion-title accordionTitle js-accordionTrigger">
                                       Attaque !
                                   </a>
                               </dt>
                               <dd class="accordion-content accordionItem is-collapsed" id="accordion7" aria-hidden="true">
                                <p>
                                    Si une unité prend l'iniative d'attaquer elle béneficie d'un pourcentage de puissance supplémentaire. L'adversaire riposte toujours en cas d'attaque au corps à corps. Une unité affaibli subira des dommages supplémentaires
                                    si elle affronte une unité en pleine forme.
                                </p>

                               </dd>

                           </dl>
                       </div>
                   </div>
               </div>

           </div>

       </section>


   {% endblock %}


