{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}- Accueil 
{% endblock %}


   {% block rmplatform_body %}
      <section id="main">
            <div class="container marketing">

                <!-- Three columns of text below the carousel -->
                <div class="row ">
                    <div class="col-lg-12"><h2>RomeMars</h2></div>
                    <div class="col-lg-6">
                        <p class="lead">RomeMars est un jeu de stratégie en temps réel par navigateur, choissisez votre adversaire , adaptez votre stratégie en fonction des unités proposées et lancez vous dans une bataille de plateau prenante.  </p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-6">
                        <p class="lead">RomeMars ne requiert aucune inscription au préalable.Un pseudo de votre choix et vous vous lancez dans des batailles captivantes.</p>
                    </div><!-- /.col-lg-4 -->

                </div><!-- /.row -->


                <!-- START THE FEATURETTES -->

                <div class="big_sep"></div>

                <div class="row">
                    <!-- START THE ACTUALITIES -->

                    <div class="col-md-8 news">
                        <h2>Blog</h2>

                        {% for advert in listAdverts %}

                            <!--<img src="{{ asset('/bundles/rmplatform/images/layout/romemars.png') }}" alt="romemars"/> -->
                            <h3> {{ advert.title  }}</h3>

                            <p class="lead">{{ advert.content }}</p>
                            <a href="{{ path('rm_platform_blog', {'id': advert.id,slug:advert.slug }) }}">Lire la suite</a>

                        {% endfor %}



                    </div>
                    <!-- START THE BLOC NOTE -->
                    <div class="col-md-4 bloc-note nopadding"><h2>Nouvelle</h2>
                        <div class="row note">
                            <div class="col-md-2 bloc-date"> 10 Avril </div>
                            <div class="col-md-10 title"><h3>RomeMars Beta</h3>
                                <div class="col-md-12 "><p>Sortie de la première version jouable.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
