{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
  Login - {{ parent() }}
{% endblock %}



{% block rmplatform_body %}


  <section id="main">
            <div class="container text-center">

                <!-- Three columns of text below the carousel -->
                <div class="row ">
                    <div class="col-lg-12"><h2>Connexion</h2></div>
                    <div class="col-lg-12">
                        <p class="lead">Aucune inscription pour jouer il suffit de choisir un pseudo, alors lancez-vous !</p>
                    </div><!-- /.col-lg-4 -->
                
                </div><!-- /.row -->


                <!-- START THE FEATURETTES -->

                <div class="big_sep"></div>

                <div class="row">
                    <!-- START THE ACTUALITIES -->

                    <div class="col-md-12 text-center ">

                       <div id="forms">
                                {{ form(form) }}
                      </div>
                    </div>
                    <!-- START THE BLOC NOTE -->
                
                </div>
            </div>
        </section>
{% endblock %}
  {# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

