{# src/OC/PlatformBundle/Resources/views/Advert/menu.html.twig #}
{% extends "RMPlatformBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}

    {# On charge le CSS de bootstrap depuis le site directement #}
    <link href="{{ asset('bundles/rmplatform/css/carte/pp3diso.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block rmplatform_slider %}
    <div class="slider" style="height: 425px" >
        <div class="slide slide-1">
            <img src="{{ asset('public/images/placeholders/slider_1.jpg') }}" alt=""/>
        </div>
        <div class="slide slide-2">
            <img src="{{ asset('public/images/placeholders/slider_2.jpg') }}" alt=""/>
        </div>
        <div class="slide slide-3">
            <img src="{{ asset('public/images/placeholders/slider_3.jpg') }}" alt=""/>

        </div>
    </div>
    <div id="sep_bg"></div>

{% endblock %}
{% block rmplatform_body %}
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>


    <div class="row">
        <section id="main">

            <div id="curtain-left">
                <div class="mini-curtain-left">
                    <div class="time-wait-sec">
                        00:
                    </div>
                </div>
            </div>

            <div id="curtain-right">
                <div class="mini-curtain-right">
                    <div class="time-wait-min">
                        02:
                    </div>

                </div>
            </div>

            <div class="container" >
                <div class="container_2 one">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="contents-info">
                                <div class="name-attack name"></div>
                                <div class="type-attack type"> Attaquant </div>
                            </div>
                            <img src="{{ asset('bundles/rmplatform/images/icone/barre.png') }}" style="max-width: 100%;" alt="barre"/>

                        </div>

                    </div>

                    {{ include('AretusaFlashBundle::flash-messages.html.twig') }}
                </div>
                <div class="row">
                    <div class="col-md-12 avatar_attack"></div>
                    <div class="col-md-12 big_sep"></div>

                    <div class="col-md-3">
                        <div class="content-tour">
                            <div class="show-tour">
                                Tour n°<span class="number-tour"  ></span>
                            </div>
                            <div class="show-compteur">

                            </div>
                            <div class="show-player-tour">
                                <span class="player-tour"  ></span> à toi de jouer
                            </div>

                            <button type="button" class="btn btn-primary confirm validate-tour" > Valider le tour  </button>

                        </div>
                        <img src="{{ asset('bundles/rmplatform/images/icone/tour.png') }}" style="max-width: 100%;margin-top: 90px" alt="barre"/>


                    </div>

                    <div class="col-md-9">
                        <div id="ppISO"></div>
                    </div>

                    <div class="row">
                        <div class=" col-md-12 big_sep"></div>
                        <div class="col-md-12 avatar_defense"> </div>

                    </div>

                    <div class="container_2 one">

                        <div class="row">
                            <div class="col-md-10">
                                <div class="contents-info">

                                    <div class="name-defense name"></div>
                                    <div class="type-defense type"> Defenseur </div>
                                </div>
                                <img src="{{ asset('bundles/rmplatform/images/icone/barre.png') }}" style="max-width: 100%;" alt="barre"/>


                            </div>

                        </div>

                    </div>
                    <!-- Modal -->
                    <div id="confirm-tour" class="modal fade" tabindex="-1" role="dialog"aria-hidden="true" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header panel-background-modal">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Validation du tour</h4>
                                </div>
                                <div class="modal-body edit-content">
                                    <p>   Etes vous sur de défier <span class="opponent"></span> il est peut etre un peut trop fort pour vous ..</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Refuser</button>
                                    <button type="button" class="btn btn-primary validate-tour">Affronter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->

                    <!-- Modal -->
                    <div id="stop-game" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content ">
                                <div class="modal-header panel-background-modal">
                                    <h4 class="modal-title" id="myModalLabel">Fin de partie</h4>
                                </div>
                                <div class="modal-body edit-content">
                                    <p>Fin de partie il y a eu plus de trois tour sans déplacement.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary redirect">Accepter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                    <!-- Modal -->
                    <div id="victory-game" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header panel-background-modal">
                                    <h4 class="modal-title" id="myModalLabel">Victoire</h4>
                                </div>
                                <div class="modal-body edit-content">
                                    <p>Bravo pour cette brillante victoire.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary redirect">Accepter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                    <!-- Modal -->
                    <div id="defeat-game" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header panel-background-modal">
                                    <h4 class="modal-title" id="myModalLabel">Défaite</h4>
                                </div>
                                <div class="modal-body edit-content">
                                    <p>Dommage vous ferez mieux la prochaine fois.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary redirect">Accepter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                    <!-- Modal -->
                    <div id="egalite-game" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header panel-background-modal">
                                    <h4 class="modal-title" id="myModalLabel">Égalité</h4>
                                </div>
                                <div class="modal-body edit-content">
                                    <p>Egalité ça s'est joué de peu.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary redirect">Accepter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->
                    <!-- Modal -->
                    <div id="leave-player" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header panel-background-modal">
                                    <h4 class="modal-title" id="myModalLabel">Fin de partie</h4>
                                </div>
                                <div class="modal-body edit-content">
                                    <p>Votre adversaire a quitté la partie surement due à votre aura supérieur.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary redirect">Accepter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->


                </div>

        </section>
    </div>


{% endblock %}

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalitï¿½s du bootstrap Twitter #}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/rmplatform/js/map/jquery.pp3Diso.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rmplatform/js/avatar.js') }}"></script>

    <script language="javascript" type="text/javascript">

        var socket = io.connect('http://213.167.240.117:8181');


        var ppmap;
        var zoom = 1;
        var selectUnity;
        var compteur_attente; // Correspond au compteur
        var stop = false;
        var autoload_map = false;
        var type_message = 0;
        var play_ok;//Contient le numero du joueur qui doit jouer 1 ou 0
        //Sert pour éclairer la case de lavatar
        var old_x;
        var old_y;
        var own_type ='{{app.session.get('type')}}';
        var move_ok = true; // Correspond a une varible qui emepeche de select un player pendant qu'il se deplace

        var start = false; // La partie n'est pas lancée

        socket.emit('firstConnect', {id_generate: '{{app.session.get('id_generate')}}', pseudo: '{{app.session.get('pseudo')}}', available: 0,url : 'map'}); // on envoie au serveur

        //On signal au serveur qu'un joueur et sur cette page il faut attendre son adv
        socket.emit('setPlayerBegin', {idGame: '{{app.session.get('id_game')}}', idPlayer: '{{app.session.get('id_generate')}}', pseudo: '{{app.session.get('pseudo')}}', type: '{{app.session.get('type')}}'}); // on envois au serveur la connexion de la personne



        //Contient start si la partie est lancé ou pas
        socket.on('lauchGame', function (data) {


            if(data.detail_tour.type_1 == "1"){
                $(".name-attack").append(data.detail_tour.pseudo_1);
            }
            if(data.detail_tour.type_1 == "0"){
                $(".name-defense").append(data.detail_tour.pseudo_1);
            }
            if(data.detail_tour.type_2 == "1"){
                $(".name-attack").append(data.detail_tour.pseudo_2);
            }
            if(data.detail_tour.type_2 == "0"){
                $(".name-defense").append(data.detail_tour.pseudo_2);
            }

            if(data.detail_tour.type_1 == data.detail_tour.type_play_game){
                $(".player-tour").append(data.detail_tour.pseudo_1);
            }
            if(data.detail_tour.type_2 == data.detail_tour.type_play_game){
                $(".player-tour").append(data.detail_tour.pseudo_2);
            }
            $(".number-tour").append(data.detail_tour.number_tour);
            play_ok = data.detail_tour.type_play_game;

            if(own_type != play_ok ){
                $('.confirm').addClass('disabled ');
            }


            /*    if ('{{app.session.get('id_generate')}}' == data['detail_tour'].idPlayer) {
             $(".player-tour").append('{{app.session.get('pseudo')}}');
             }
             $(".tour").append(data['detail_tour'].tour);

             */
            start = data.start;
            if (data.start) {
                //Les 2 joueurs sont present on ouvre les div
                $("#curtain-left,#curtain-right,#mini-curtain-left,#mini-curtain-right").animate({
                    width: "toggle"
                }, 5000, function () {
                    // Animation complete.
                });
                stop = true;
                autoload_map = true;
                console.log('stop')
                console.log('compteur');

                socket.emit('initCompteur', {idGame: '{{app.session.get('id_game')}}', type_play: play_ok }); // On init le compteur
                socket.emit('positionOfUnity', {idGame: '{{app.session.get('id_game')}}', etat: data.start}); // le jeu est ok on recupere la position des avatars
                // socket.emit('failCompteur', { id_generate: '{{app.session.get('id_generate')}}', idGame: '{{app.session.get('id_game')}}' }); // on supprime le compteur d'attente de player
                // socket.emit('compteurTourParTour', { id_generate: '{{app.session.get('id_generate')}}', idGame: '{{app.session.get('id_game')}}' } ); // on lance le nouveau compteur tour par tour


            } else {
                console.log('hey');
                $("#curtain-left,#curtain-right").hide();
                // socket.emit('positionOfUnity', {idGame: '{{app.session.get('id_game')}}', etat: data.start}); // on re affiche la map mais pas les joueurs car deja chargé
            }

        });

        //On affiche le temps d'attente du deuxieme joueurs
        socket.emit('compteur', {idGame: '{{app.session.get('id_game')}}'});
        socket.on('setCompteur', function (data) {
            clearInterval(compteur_attente);
            compteur_attente = setInterval(setDate, 1000);

            //le param contient la valeur du compteur actuel



            var date1 = new Date();
            var date2 = new Date(data.time_start);
            var diff = dateDiff(date1, date2);
            var time;


            function setDate() {
                time = new Date(data.time_end);//launch
                var d1 = new Date (),
                        now = new Date ( d1 );

                now.setMinutes ( d1.getMinutes() + ( diff.min) );
                now.setSeconds(d1.getSeconds() + (diff.sec));



                var s = ((time.getTime() - now.getTime()) / 1000) - now.getTimezoneOffset() * 60;
                var d = Math.floor(s / 86400);
                s -= d * 86400;
                var h = Math.floor(s / 3600);
                s -= h * 3600;
                var m = Math.floor(s / 60);
                s -= m * 60;
                s = Math.floor(s);


                /* if(start){*/
                //  chrono.html(pad(m)+': '+pad(s));

                $('.time-wait-min').html(pad(m))
                $('.time-wait-sec').html(pad(s))
                $('.show-compteur').html(pad(m)+' : '+pad(s));


                if (time.getTime() <= now.getTime()) {
                    console.log(start)
                    console.log(start)


                    if(start){

                    }else{
                        //    $('.time-wait-min').html(pad(m))
                        //  $('.time-wait-sec').html(pad(s))
                    }


                    //Le compteur est terminé le joueur n'a pas choisi de garnison on le signal au server
                    clearInterval(compteur_attente);
                    console.log('ermine');
                    // En com pour le moment mais fonctionel valide tour et passtour
                      socket.emit('validateTour', {idGame: '{{app.session.get('id_game')}}', type_play: play_ok, asynchrone : true, id_generate: '{{app.session.get('id_generate')}}','pass' : true  }); // on demande au serveur la position des unitÃ©s
                      socket.emit('initCompteur', {idGame: '{{app.session.get('id_game')}}', type_play: play_ok });
                      socket.emit('passTour', {id_generate: '{{app.session.get('id_generate')}}', idGame: '{{app.session.get('id_game')}}',asynchrone : false}); // on envoie au serveur

                    return false;

                }

            };
            function dateDiff(date1, date2){
                var diff = {}                           // Initialisation du retour
                var tmp = date2 - date1;

                tmp = Math.ceil (tmp/1000);             // Nombre de secondes entre les 2 dates
                diff.sec = tmp % 60;                    // Extraction du nombre de secondes

                tmp = Math.ceil ((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
                diff.min = tmp % 60;                    // Extraction du nombre de minutes

                tmp = Math.ceil ((tmp-diff.min)/60);    // Nombre d'heures (entières)
                diff.hour = tmp % 24;                   // Extraction du nombre d'heures

                tmp = Math.ceil ((tmp-diff.hour)/24);   // Nombre de jours restants
                diff.day = tmp;

                return diff;
            }
        });
        function pad(n) {
            return (n < 10 ? '0' : '') + n;
        }





        socket.emit('positionOfUnity', {idGame: '{{app.session.get('id_game')}}',idPlayer: '{{app.session.get('id_generate')}}'}); // on demande au serveur la position des unitées
        socket.on('choose_unities', function (data) { // Il nous renvois la position des troupes ainsi que la map
            console.log('choose_unities')
            console.log(data)
            ppmap = $('#ppISO').pp3Diso({
                map: ' {{ map }} ', // la map
                mapId: 1, // id de la map
                tx: 83, // dimension x des tuiles
                ty: 44, // dimension y des tuiles
                cursorPF: '{{ asset('/bundles/rmplatform/images/path.png') }}',
                pathfinding: true,
                PF_corners: false,
                positionFixe: true,
                PF_max: 2,
                prefix: 'map-',
                auto_size: true,
                mousewheel: false,
                zoom: 0.90,
                speed_avatar:500,
                cursorDelay : 1000,

                onmovepathfinding: function (x, y, numcase,id) { //appele autant de fois qu'un deplacement
                    $('.confirm').addClass('disabled');
                    //id correspond a lid de lavatar qui bouge
                    //    $('#pp3diso-avatar-img_'+id).addClass('img is-loading').attr('src', ''); // Clear the src
                    move_ok = false;

                    $('.select_avatar[data-value="'+id+'"]').addClass('move-false');//On passe en rouge lavatar du joueur
                    socket.emit('setPosition', {x: x, y: y, idChoice: id, idGame: '{{app.session.get('id_game')}}',idPlayer: '{{app.session.get('id_generate')}}'});
                    //   ppmap.selectAvatar(true); // on deselectionne par defaut
                    console.log('on nettoie');
                    ppmap.clean_map(); //

                },

                notifColision: function (x,y,x_attack,y_attack,id,corps) {

                    console.log('colission notif')
                    //pp3diso a decter la colision on la notifie au serveur
                    socket.emit('setPosition', {x: x_attack, y: y_attack, idChoice: id, idGame: '{{app.session.get('id_game')}}',idPlayer: '{{app.session.get('id_generate')}}'});
                    socket.emit('sendColision', {x_attack:x_attack,y_attack:y_attack,x:x,y:y,idChoice: id, idGame: '{{app.session.get('id_game')}}',idPlayer: '{{app.session.get('id_generate')}}',bool_corps : corps });
                    console.log('notifColision');
                    $('.confirm').removeClass('disabled');

                },
                oncursordelay:function(x, y, id) {	//--- la souris passe sur un batiment
                    console.log('adv')
                    socket.emit('info_tipShow', {x: x, y: y, idGame: '{{app.session.get('id_game')}}',idPlayer: '{{app.session.get('id_generate')}}'});

                },
                onleavebuilding:function(x, y, id) {	//--- la souris sort d'un batiment
                    ppmap.tipHide();
                },
                onmoveavatar:function(x, y, id) {	//--- a la fin du deplacement
                    move_ok = true;
                    $('.confirm').removeClass('disabled');

                }


            });
            ppmap.moveMapOn();
            ppmap.cursor('{{ asset('/bundles/rmplatform/images/cursor-on.png') }}', '{{ asset('/bundles/rmplatform/images/cursor-off.png') }}', 0, 0);
            ppmap.addBuilding(3, 4, '{{ asset('/bundles/rmplatform/images/map-2.png') }}', 0, 0);
            ppmap.addBuilding(3, 7, '{{ asset('/bundles/rmplatform/images/map-2.png') }}', 0, 0);
            ppmap.addBuilding(7, 7, '{{ asset('/bundles/rmplatform/images/map-2.png') }}', 0, 0);
            ppmap.addBuilding(7, 4, '{{ asset('/bundles/rmplatform/images/map-2.png') }}', 0, 0);
            ppmap.addBuilding(5, 6, '{{ asset('/bundles/rmplatform/images/map-2.png') }}', 0, 0);
            ppmap.addBuilding(5, 5, '{{ asset('/bundles/rmplatform/images/map-2.png') }}', 0, 0);
            //Cette boucle met en place les avatars et les images


            $('.avatar_attack').empty(); $('.avatar_defense').empty();// a revoir de maniere plus correct
            for (var i = 0; i <= Object.size(data.unities)-1; i++) {
                for (var ii = 0; ii <= (Object.size(data.unities[i]['choice']))-1; ii++) {

                    var x = parseInt(data.unities[i]['choice'][ii].x);
                    var y = parseInt(data.unities[i]['choice'][ii].y);
                    var type = data.unities[i].type;
                    var id_unity =  parseInt(data.unities[i]['choice'][ii].type_unity);
                    var id =  (data.unities[i]['choice'][ii].id);
                    var move =  (data.unities[i]['choice'][ii].move_case);
                    var url = data.unities[i]['choice'][ii].url_avatar;
                    var pts_life = data.unities[i]['choice'][ii].pts_life;
                    var url_icone = data.unities[i]['choice'][ii].url_icone;
                    var pts_attack = data.unities[i]['choice'][ii].pts_attack;
                    var pts_armure = data.unities[i]['choice'][ii].pts_armure;
                    var pts_bow = data.unities[i]['choice'][ii].pts_attack_distance;
                    var pts_arrow = data.unities[i]['choice'][ii].portee_max;

                    var deplacement = data.unities[i]['choice'][ii].move_max;

                    if (type) {
                        if(pts_life > 0){
                            if(move == true){
                                //Type archer
                                console.log(pts_attack);
                                if(id_unity != 4){
                                    $('.avatar_attack').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-true"></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/health.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/sword.png" data-value="'+id+'" class="">'+pts_attack+ ' </div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/sandals.png" data-value="'+id+'" class="">'+deplacement+' </div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">'+pts_armure+'</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }else{
                                    console.log('archer')
                                    $('.avatar_attack').append('<div class="col-md-3"><div class="col-md-4"><img alt="archer-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-true"></div><div class="col-md-3"><img alt="archer-romemars" src="/bundles/rmplatform/images/icone/health.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="archer-romemars" src="/bundles/rmplatform/images/icone/sword.png" data-value="'+id+'" class="">'+pts_attack+'</div><div class="col-md-3"><img alt="archer-romemars" src="/bundles/rmplatform/images/icone/sandals.png" data-value="'+id+'" class="sandal"><span class="sandal_value">'+deplacement+'</span></div><div class="col-md-3"><img alt="archer-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">'+pts_armure+'</div><div class="col-md-2"><img alt="archer-romemars" src="/bundles/rmplatform/images/icone/arrow.png" data-value='+id+'" class="">'+pts_arrow+'</div><div class="col-md-2"><img alt="archer-romemars" src="/bundles/rmplatform/images/icone/bow.png" data-value='+id+'" class=""><span class="bow">'+pts_bow+'</span></div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }

                            }else{
                                //Type archer
                                if(id_unity != 4){
                                    $('.avatar_attack').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }else{
                                    console.log('archer')
                                    $('.avatar_attack').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }
                            }
                            ppmap.avatar(type,ii, x, y, url, 10, -20,true,6);
                        }else{
                            if(id_unity != 4){
                                $('.avatar_attack').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">0 %</span></div></div></div></div>');
                            }else{
                                console.log('archer')
                                $('.avatar_attack').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">0 %</span></div></div></div></div>');
                            }

                        }

                    }else{
                        if(pts_life > 0){
                            if(move == true){
                                //Type archer
                                console.log(pts_attack);
                                if(id_unity != 4){
                                    $('.avatar_defense').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-true"></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/health.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/sword.png" data-value="'+id+'" class="">'+pts_attack+ ' </div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/sandals.png" data-value="'+id+'" class="">'+deplacement+' </div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">'+pts_armure+'</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }else{
                                    console.log('archer')
                                    $('.avatar_defense').append('<div class="col-md-3"><div class="col-md-4"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-true"></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/health.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/sword.png" data-value="'+id+'" class="">'+pts_attack+'</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/sandals.png" data-value="'+id+'" class="sandal"><span class="sandal_value">'+deplacement+'</span></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">'+pts_armure+'</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/arrow.png" data-value='+id+'" class="">'+pts_arrow+'</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/bow.png" data-value='+id+'" class=""><span class="bow">'+pts_bow+'</span></div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }

                            }else{
                                //Type archer
                                if(id_unity != 4){
                                    $('.avatar_defense').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }else{
                                    console.log('archer')
                                    $('.avatar_defense').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">'+pts_life+'%</span></div></div></div></div>');
                                }
                            }
                            ppmap.avatar(type,ii, x, y, url, 10, -20,true,6);
                        }else{
                            if(id_unity != 4){
                                $('.avatar_defense').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-3"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">0 %</span></div></div></div></div>');
                            }else{
                                console.log('archer')
                                $('.avatar_defense').append('<div class="col-md-3"><div class="col-md-5"><img alt="unite-romemars" src="'+url_icone+'" data-value="'+id+'" class="select_avatar move-false"></div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value="'+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-2"><img alt="unite-romemars" src="/bundles/rmplatform/images/icone/shield.png" data-value='+id+'" class="">100</div><div class="col-md-12"><div class="progress top10"><div style="width: '+pts_life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+pts_life+'" role="progressbar" class="progress-bar progress-bar-success life_'+id+'"><span class="show">0 %</span></div></div></div></div>');
                            }

                        }

                    }
                }
            }

            ppmap.selectAvatar(true); // on deselectionne par defaut

        });

        $(document).on('click', '.select_avatar', function() {

            //Si c'est son tour on peut selectionner ses unités
            console.log('play_ok')
            console.log(play_ok)

            if(play_ok == '{{app.session.get('type')}}' ){
                //Va chercher la position de l'avatar
                console.log('move_ok')
                console.log(move_ok)
                if(move_ok == true){
                    socket.emit('get_position_choice', {idGame: '{{app.session.get('id_game')}}',idPlayer: '{{app.session.get('id_generate')}}',idChoice: $(this).data("value")}); // on demande au serveur la position des unités
                    $("input[name='player_select']").val($(this).parent().attr('id'));
                }

            }
        });
        socket.on('receive_position_choice', function (data) {

            console.log('data')
            console.log(data)
            console.log('data')

            //Permet de gerer la tuile clignonante sous lavatar

            $('#c_'+old_y+'_'+old_x+'').css("background-image", "url(/bundles/rmplatform/images/map-1.png)");
            var xx = data.x;
            var yy = data.y;

            // $('#c_'+data.y+'_'+data.x+'').css("background-image", "url(/romemars/web/bundles/rmplatform/images/map-12.png)");
            old_x  = data.x;
            old_y  = data.y;
            console.log('data')
            console.log(data)
            console.log('data');
            ppmap.selectAvatar(false,data.x,data.y,data.move_max,data.id,'','',data.portee_max,data.move_case,data.distance);
            ppmap.typeU( parseInt('{{app.session.get('type')}}') ); // 0 ou 1


            setTimeout(function(){

                if(data.distance > 0){
                    for(var i = 0; i <= (data.portee_max);i++){

                        if(i >0){
                            impact(parseInt(data.y+2),parseInt(data.x-i),data.attaquant_player);
                            impact(parseInt(data.y+2),parseInt(data.x+i),data.attaquant_player);
                            impact(parseInt(data.y-2),parseInt(data.x+i),data.attaquant_player);
                            impact(parseInt(data.y-2),parseInt(data.x-i),data.attaquant_player);
                            impact(parseInt(data.y+1),parseInt(data.x-i),data.attaquant_player);
                            impact(parseInt(data.y+1),parseInt(data.x+i),data.attaquant_player);
                            impact(parseInt(data.y-1),parseInt(data.x+i),data.attaquant_player);
                            impact(parseInt(data.y-1),parseInt(data.x-i),data.attaquant_player);
                            /* impact(parseInt(data.y+3),parseInt(data.x-i),data.attaquant);
                             impact(parseInt(data.y+3),parseInt(data.x+i),data.attaquant);
                             impact(parseInt(data.y-3),parseInt(data.x+i),data.attaquant);
                             impact(parseInt(data.y-3),parseInt(data.x-i),data.attaquant);*/
                        }

                    }
                }

                for(var i = 0; i <= (data.move_max)-1;i++){


                    deplacement(data.y,parseInt(data.x+i),data.attaquant_player);
                    deplacement(data.y,parseInt(data.x-i),data.attaquant_player);
                    deplacement(parseInt(data.y+i),data.x,data.attaquant_player);
                    deplacement(parseInt(data.y-i),data.x,data.attaquant_player);

                    if(i < 2){
                        deplacement(parseInt(data.y+1),parseInt(data.x-i),data.attaquant_player);
                        deplacement(parseInt(data.y+1),parseInt(data.x+i),data.attaquant_player);
                        deplacement(parseInt(data.y-1),parseInt(data.x+i),data.attaquant_player);
                        deplacement(parseInt(data.y-1),parseInt(data.x-i),data.attaquant_player);

                    }
                    if(i ==3){
                        deplacement(parseInt(data.y+2),parseInt(data.x-1),data.attaquant_player);
                        deplacement(parseInt(data.y+2),parseInt(data.x+1),data.attaquant_player);
                        deplacement(parseInt(data.y-2),parseInt(data.x+1),data.attaquant_player);
                        deplacement(parseInt(data.y-2),parseInt(data.x-1),data.attaquant_player);
                        deplacement(parseInt(data.y+1),parseInt(data.x-2),data.attaquant_player);
                        deplacement(parseInt(data.y+1),parseInt(data.x+2),data.attaquant_player);
                        deplacement(parseInt(data.y-1),parseInt(data.x+2),data.attaquant_player);
                        deplacement(parseInt(data.y-1),parseInt(data.x-2),data.attaquant_player);
                    }

                }

                player(data.y,data.x);

            }, 200);

        });

        function deplacement(y,x,attaquant){
            console.log('attaquant')
            console.log(attaquant)
            if(attaquant == true){

                if( ppmap.getState(x,y) != 88 ){
                    if(ppmap.getState(x,y) != 2){
                        $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-12.png)");

                    }
                }else{
                    $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");
                }

            }else{

                if( ppmap.getState(x,y) != 89 ){
                    console.log('on rentre ii')
                    if(ppmap.getState(x,y) != 2){
                        $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-12.png)");
                    }
                }else{
                    $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");
                }

            }

        }
        function impact(y,x,attaquant){

             if(attaquant){
                 if(ppmap.getState(x,y) != 88){
                     if(ppmap.getState(x,y) != 2){
                         $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");
                     }
                 }else{
                     $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");
                 }
             }else{
                 if(ppmap.getState(x,y) != 89){
                     if(ppmap.getState(x,y) != 2){
                         $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");
                     }
                 }else{
                     $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");

                 }
             }
        }
        function player(y,x){
            $('#c_'+parseInt(y)+'_'+ (x)).css("background-image", "url(/bundles/rmplatform/images/map-13.png)");

        }

        socket.on('newPosition', function (data) {

            //on envois l'inverse des type car deplacement sur la carte adv
            {% if app.session.get('type') == true  %}
            ppmap.typeU(0); // 0 ou 1
            {% else %}
            ppmap.typeU(1); // 0 ou 1
            {% endif %}



            ppmap.selectAvatar(false,data.tab.x, data.tab.y,data.tab.move_max,data.tab.id,data.old_x,data.old_y);
            ppmap.moveAvatarTo(data.tab.x, data.tab.y);

            // ppmap.selectAvatar(true);

            $('.select_avatar[data-value="'+data.tab.id+'"]').addClass('move-false');//On passe en rouge lavatar de ladv

        });
        socket.on('list_error', function (data) { // le serveur nous renvois le nom de l'attaquant
            if (data.value) { // Affichage d'un message de notification
                $('#flash-messages').empty();
                $('#flash-messages').append(data.message);
                $('#flash-messages').flashNotification('init');
            }
        });
        socket.on('set_infoTipShow', function (data) {

            ppmap.tipShow('<strong>'+data.name+'</strong><br /><img src="'+data.src+'" style="float:right;margin:0 0 5px 5px" alt="" /><div class="progress top10"> <div style="width: '+data.life+'%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="'+data.life+'" role="progressbar" class="progress-bar progress-bar-success life_1_1"> <span class="show">'+data.life+' %</span><div class="ui-progressbar-value ui-widget-header ui-corner-left ui-corner-right" style="width: 100%;"></div>', 1, -10, 10);
        });
        socket.on('sendResultFight', function (data) {

            var ii = 0;




            ppmap.selectAvatar(true); // on deselectionne le perso
            setTimeout(function(){
                //Permet de surligner les protagonistes
                $('#c_'+parseInt(data[0]['y'])+'_'+ parseInt(data[0]['x'])).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");
                $('#c_'+parseInt(data[1]['y'])+'_'+ parseInt(data[1]['x'])).css("background-image", "url(/bundles/rmplatform/images/map-11.png)");

            }, 600);
            setTimeout(function(){
                ppmap.selectAvatar(true); // on deselectionne le perso

            }, 2000);


            for ( ii ; ii <= (data.length)-1; ii++) {


                $('.select_avatar[data-value="'+data[0]['id']+'"]').addClass('move-false');//On passe lattaquant en rouge


                $(".life_"+data[ii]['id']).css('width', data[ii]['life'] + "%");
                $(".life_"+data[ii]['id']+" span").html(data[ii]['life'] + "%");

                if(data[ii]['life'] <= 0){
                    $('.select_avatar[data-value="'+data[ii]['id']+'"]').attr('src','/bundles/rmplatform/images/guerriers-miniatures/guerrier_dead.png');
                    ppmap.killAvatar(data[ii]['id']);
                    ppmap.changeState(data[ii]['x'],data[ii]['y'],1);
                    $(".life_"+data[ii]['id']+" span").html("0 %");

                }

                if (typeof data[ii].victoire != 'undefined'){
                    if(data[ii].victoire.length > 0){
                        if(data[ii].victoire == '{{app.session.get('id_generate')}}' ){
                            $('#victory-game').modal('show');
                            type_message = 1;
                        }else{
                            $('#defeat-game').modal('show');
                            type_message = 2;

                        }

                        socket.emit('passTour', {id_generate: '{{app.session.get('id_generate')}}', idGame: '{{app.session.get('id_game')}}',asynchrone : false, endgame : 1}); // fin de partie on supprime les donnes
                        ppmap.clean_map();


                    }
                }
                if (typeof data[ii].egalite != 'undefined'){
                    if(data[ii].egalite.length > 0){
                        $('#egalite-game').modal('show');
                        socket.emit('passTour', {id_generate: '{{app.session.get('id_generate')}}', idGame: '{{app.session.get('id_game')}}',asynchrone : false, endgame : 1}); // fin de partie on supprime les donnes

                    }
                }
            }

        });

        $(".validate-tour").click(function () {
            if(own_type == play_ok ){
                socket.emit('validateTour', {idGame: '{{app.session.get('id_game')}}', type_play: play_ok, asynchrone : true, id_generate: '{{app.session.get('id_generate')}}'  }); // on demande au serveur la position des unitÃ©s
                socket.emit('initCompteur', {idGame: '{{app.session.get('id_game')}}', type_play: play_ok }); // on demande au serveur la position des unitÃ©s
                $('#confirm-tour').modal('hide');
            }
        });
        //Le tour est bien validé on change les infos
        socket.on('tourOk', function (data) {


            if(data.type_1 == data.type_play_game){
                $(".player-tour").html(data.pseudo_1);
            }
            if(data.type_2 == data.type_play_game){
                $(".player-tour").html(data.pseudo_2);
            }
            //Remet a 0 les déplacement
            $( ".move-false" ).each(function( index ) {
                console.log(this)
                $( this ).removeClass('move-false').addClass('move-true')
            });
            $(".number-tour").html(data.number_tour);
            play_ok = data.type_play_game;
            if(own_type != play_ok ){
                $('.confirm').addClass('disabled');
            }else{
                $('.confirm').removeClass('disabled');
            }

        });

        //On redirige sur la room une action a provoqué la fin de la partie
        socket.on('redirect_room', function (data) {
            clearInterval(compteur_attente);
            $('#stop-game').modal('show');
        });
        //On passe ici pour verifier si les joueurs sont tjr presents
        socket.on('testPlayerConnect', function (data) { // le serveur nous renvois le nom de l'attaquant

            console.log('on passe bien ici')
            console.log(data);
            socket.emit('controlPlayerOnline', {idPlayerVerif: data.idPLayer, idGame: '{{app.session.get('id_game')}}' });

        });
        socket.on('endGame', function (data) { // le serveur nous renvois le nom de l'attaquant
            $('#leave-player').modal('show');


        });
        $(".redirect").click(function () {

            $.ajax({
                method: "POST",
                url: "/message/"+ type_message
            })
                    .success(function(response) {
                        if(response){
                            window.location = '/room';
                        }
                    });


        });
        Object.size = function(obj) {
            var size = 0, key;
            for (key in obj) {
                if (obj.hasOwnProperty(key)) size++;
            }
            return size;
        };


        $(".loader-overlay").delay(8000).addClass("loaded");
        $("#myCarousel").animate({ 'height': "232px" }, 0);
        $(".carousel-inner").animate({ 'height': "234px" }, 0);
        $( ".option-carousel" ).removeClass("mask-carousel glyphicon-chevron-up").addClass("show-carousel glyphicon-chevron-down");

        $('#flash-messages').flashNotification('init');

    </script>
    <script type="text/javascript" src="{{ asset('bundles/rmplatform/js/main.js') }}"></script>

{% endblock %}

