{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}- Guide
{% endblock %}

   {% block rmplatform_body %}

       <section id="main">

           <div class="container container-big">



           </div>

       </section>
   {% endblock %}


