{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Room
{% endblock %}

{% block rmplatform_body %}






    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <section id="main">

        <div class="container" >
            <!-- RIBBON 1 -->
            <div class="container_2 one">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="ribbon">
                            <nav class="navbar navbar-default">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-player" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>

                                </button>
                                <div id="menu-player" class="navbar-collapse collapse">

                                    <ul class="nav navbar-nav navbar-left">
                                        <li class="dropdown notifications-menu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <img class="img-number-receive" src="{{ asset('bundles/rmplatform/images/ribbon/user.png') }}" alt=""/>
                                            </a>

                                        </li>
                                        <li class="dropdown notifications-menu">
                                            <strong class="name_room">{{ app.session.get('pseudo') }}</strong>
                                        </li>
                                    </ul>


                                     <ul class="nav navbar-nav navbar-right room-navbar-right">

                                        <li class="dropdown messages-menu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="label label-warning number-send">0</span>

                                                <img class="img-number-send" src="{{ asset('bundles/rmplatform/images/ribbon/eclair.png') }}" alt=""/>

                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="header">Vous avez envoyé <span class="dropdown-send">0</span></li>
                                                <li>
                                                    <!-- inner menu: contains the actual data -->
                                                    <ul class="menu menu-send">
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown messages-menu">

                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="label label-warning number-receive">0</span>
                                                <img class="img-number-receive" src="{{ asset('bundles/rmplatform/images/ribbon/bouclier.png') }}" alt=""/>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="header">Vous avez reçu <span class="dropdown-receive">0</span></li>

                                                <li>
                                                    <!-- inner menu: contains the actual data -->
                                                    <ul class="menu menu-receive">
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown messages-menu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="label label-warning number-accept">0</span>
                                                <img class="img-number-accept" src="{{ asset('bundles/rmplatform/images/ribbon/star.png') }}" alt=""/>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="header">Vous avez  <span class="dropdown-accept">0</span></li>
                                                <li>
                                                    <!-- inner menu: contains the actual data -->
                                                    <ul class="menu menu-accept">

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>

                                </div>


                            </nav>
                        </div>
                </div>

            </div>

            {{ include('AretusaFlashBundle::flash-messages.html.twig') }}

            <div class="row-fluid">
                <!-- start: Content -->

                    <div class="row-fluid sortable">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon user"></i><span class="break"></span>Joueurs en ligne</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <table id="mytable" class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            <th>Pseudo</th>
                                            <th>Dernière activité</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="player-online" >

                                    </tbody>
                                </table>
                            </div>




                    </div><!--/row-->








                <!-- Modal -->
                    <div id="attack-opponent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header panel-background-modal">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Attaque</h4>
                                </div>
                                <div class="modal-body edit-content">
                                    <p>  Vous allez attaquer <span class="opponent"></span> êtes vous sur de vouloir l'affronter ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Refuser</button>
                                    <button type="button" class="btn btn-primary go-fight">Affronter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal -->

                <!-- end: Content -->
            </div><!--/#content.span10-->
            <div class="big_sep"></div>

            <div class="row-fluid">
                        <div class="content-tchat">

                            <div class="tchat-message form-group">

                            </div>



                            {{ form_start(form, {'attr': {'class': 'form'}}) }}

                            {# Les erreurs générales du formulaire. #}
                            {{ form_errors(form) }}

                            <div class="form-group">

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.message) }}

                                <div class="col-sm-10">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>



                            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                            {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}

                            {# Génération automatique des champs pas encore écrits.
                               Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                               et tous les champs cachés (type « hidden »). #}
                            {{ form_rest(form) }}

                            {# Fermeture de la balise <form> du formulaire HTML #}
                            {{ form_end(form) }}
                        </div>



                </div>
        </div>


    </section>
{% endblock %}


{% block javascripts %}

    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalitï¿½s du bootstrap Twitter #}
    {{ parent() }}
    <script language="javascript" type="text/javascript">



        $(document).ready(function () {
            var socket = io.connect('http://213.167.240.117:8181');
            var id;


            //Fonction qui envois si on est sur la page
            socket.emit('firstConnect', {id_generate: '{{app.session.get('id_generate')}}', pseudo: '{{app.session.get('pseudo')}}', available: 1,url : 'room'}); // on envoie au serveur
            //Recupere les derniers messages
            socket.emit('newPlayer', { pseudo: '{{app.session.get('pseudo')}}'}); // on envoie au serveur
            socket.emit('getMessage'); // on envoie au serveur


            //Recuperation de liste d'attaque
            socket.emit('get_attack_send', {id_generate: '{{app.session.get('id_generate')}}'}); // on envoie au serveur

            socket.on('list_attack_send', function (data) { // le serveur nous renvois le nom de l'attaquant
                var found = false;
                var num = $('.number-send');
                var num_dropdown = $('.dropdown-send');
                var menu = $('.menu-send');
                var num_value = 0;
                menu.empty();//On vide la liste
                if (data.length < 1) {
                    num.text('0');
                    num_dropdown.text('0');
                    num.removeClass("label-success").addClass("label-warning").removeClass("blink");
                }

                for (var i = 0; i <= data.length - 1; i++) {
                    num_value = parseInt(num_value) + 1;
                    num.text(parseInt(num_value));  num_dropdown.text(parseInt(num_value));
                    menu.append('<li> <a href="#"> <div class="pull-left"><img src="{{ asset('bundles/rmplatform/images/ribbon/icon-sword.png') }}" class="img-circle" alt="user image"/> </div> <h4><small><i class="fa fa-clock-o"></i></small></h4> <p> Attaque sur ' + data[i].name_receive + '</p><p><button type="button" data-adv="' + data[i].id_receive + '"  class="remove-list-fight btn btn-primary">X</button></p> </a></li> ');

                    found = true;
                }
                if(num_value > 1){
                    num_dropdown.text(parseInt(num_value)+' attaques');
                }else{
                    num_dropdown.text(parseInt(num_value)+' attaque');
                }
                if (found) {
                    num.removeClass("label-warning").addClass("label-success").addClass("blink");
                }
            });
            //Recuperation de liste des attaques recus
            socket.emit('get_attack_receive', {id_generate: '{{app.session.get('id_generate')}}'}); // on envoie au serveur
            socket.on('list_attack_receive', function (data) { // le serveur nous renvois le nom de l'attaquant






                var num = $('.number-receive');
                var num_dropdown = $('.dropdown-receive');

                var menu = $('.menu-receive');
                var found = false;
                var num_value = 0;


                menu.empty();//On vide la liste

                if (data.length < 1) {
                    num.text('0');
                    num_dropdown.text('0');
                    num.removeClass("label-success").addClass("label-warning").removeClass("blink");
                }

                for (var i = 0; i <= data.length - 1; i++) {
                    num_value = parseInt(num_value) + 1;
                    num.text(parseInt(num_value));  num_dropdown.text(parseInt(num_value));
                    menu.append('<li> <a href="#"> <div class="pull-left"><img src="{{ asset('bundles/rmplatform/images/ribbon/icon-shield.png') }}" class="img-circle" alt="user image"/> </div> <h4><small><i class="fa fa-clock-o"></i></small></h4> <p> Attaque de ' + data[i].name_ask + '</p><p><button type="button"  class=" btn btn-primary refuse-fight" data-adv="' + data[i].id_ask + '" data-dismiss="modal">Non</button> <button type="button" data-adv="' + data[i].id_ask + '"  class=" btn btn-primary accept-fight">Oui</button></p> </a></li> ');

                    found = true;
                }
                if(num_value > 1){
                    num_dropdown.text(parseInt(num_value)+' attaques');
                }else{
                    num_dropdown.text(parseInt(num_value)+' attaque');
                }
                if (found) {
                    num.removeClass("label-warning").addClass("label-success").addClass("blink");
                }


            });
            socket.emit('get_attack_accept', {id_generate: '{{app.session.get('id_generate')}}'}); // on envoie au serveur
            socket.on('list_attack_accept', function (data) { // le serveur nous renvois le nom de l'attaquant


                var num = $('.number-accept');
                var num_dropdown = $('.dropdown-accept');
                var num_value = 0;
                var menu = $('.menu-accept');
                var found = false;
                menu.empty();//On vide la liste
                if (data.length < 1) {
                    num.text('0'); num_dropdown.text('0');
                    num.removeClass("label-success").addClass("label-warning");
                }
                for (var i = 0; i <= data.length - 1; i++) {



                    num_value = parseInt(num_value) + 1;
                    num.text(parseInt(num_value));  num_dropdown.text(parseInt(num_value));

                    menu.append('<li> <a href="#">  <div class="pull-left"> <img src="{{ asset('bundles/rmplatform/images/ribbon/icon-star.png') }}" class="img-circle" alt="User Image"/> </div> <h4> <b>' + data[i].pseudo_defense + '</b> à accepter votre duel ?</h4> <p><button type="button" data-game="' + data[i].gameID + '"  data-defense="' + data[i].id_defense + '" class="join_def btn btn-primary">Rejoindre !</button></p> </a></li>');

                    found = true;
                }
                if(num_value > 1){
                    num_dropdown.text(parseInt(num_value)+' attaques acceptées');
                }else{
                    num_dropdown.text(parseInt(num_value)+' attaque acceptée');
                }
                if (found) {
                    num.removeClass("label-warning").addClass("label-success").addClass("blink");;
                }


            });
            socket.on('listPlayer', function (data) { // le serveur nous renvois la liste des joueurs

                var list = $('.player-online');
                $("#mytable").dataTable().fnDestroy();
                list.empty();
                for (var i = 0; i <= data.length - 1; i++) {
                    var date = new Date();
                    var launch = new Date(date.getFullYear(),date.getMonth(),date.getDate(),date.getHours(),date.getMinutes(),date.getSeconds());

                    var diff = Math.abs(new Date(data[i].time) - launch);
                    var minutes = Math.floor((diff/1000)/60);
                   /* if(minutes < 0){
                        minutes = 0;
                    }*/
                    if (data[i].available) {
                        list.append('<tr class="player" data=' + data[i].id_generate + '><td>' + data[i].pseudo + '</td><td>'+minutes+' min</td><td><span class="label label-success">Disponible</span></td><td>  <a  href="#myModal" data-toggle="modal" data-name="' + data[i].pseudo + '" data-id="' + data[i].id_generate + '" data-target="#attack-opponent"><img src="{{ asset('bundles/rmplatform/images/icone/war.png') }}" alt="Attaque"/> </a>   </td></tr>');
                    } else {
                        list.append('<tr class="player" data=' + data[i].id_generate + '><td>' + data[i].pseudo + '</td><td>'+minutes+' min</td><td><span class="label label-warning">Bataille</span></td><td> <a  href="#myModal" data-toggle="modal" data-name="' + data[i].pseudo + '" data-id="' + data[i].id_generate + '" data-target="#attack-opponent"><img src="{{ asset('bundles/rmplatform/images/icone/war.png') }}" alt="Attaque"/> </a>  </td></tr>');
                    }
                }
                $('#mytable').dataTable();
                //On recois une attaque on le notif dans l'onglet message    
            });
            socket.on('responseAskBattle', function (data) { // le serveur nous renvois le nom de l'attaquant

                //On incremente la variable de message
                var num = $('.number-receive')
                var num_dropdown = $('.dropdown-receive')
               // var num_value = 0;

                var num_value = num.text();

                num.text(parseInt(num_value) + 1);
                num_dropdown.text(parseInt(num_value) + 1);
                num.removeClass("label-warning").addClass("label-success").addClass("blink");

                var menu = $('.menu-receive');
                num_value = parseInt(num_value) + 1;

                if(num_value > 1){
                    num_dropdown.text(parseInt(num_value)+' attaques');
                }else{
                    num_dropdown.text(parseInt(num_value)+' attaque');
                }

                menu.append('<li> <a href="#">  <div class="pull-left"> <img src="{{ asset('bundles/rmplatform/images/ribbon/icon-shield.png') }}" class="img-circle" alt="User Image"/> </div> <h4> Attaque de ' + data.pseudo_att + '</h4> <p><button type="button" class="btn btn-default refuse-fight" data-adv="' + data.id_att + '"  data-dismiss="modal">Non</button> <button type="button" data-adv="' + data.id_att + '"  class="accept-fight btn btn-primary">Oui</button></p> </a></li>');

            });
            // On accepte de lancer l'attaque
            // id correspond Ã  l id socket de ladversaire + pseudo de l attaquant
            $('#attack-opponent').on('show.bs.modal', function (e) {
                var name = e.relatedTarget.dataset.name;
                id = e.relatedTarget.dataset.id;
                $('.opponent').html(name);
            });
            // On accepte de lancer l'attaque
            // id correspond Ã  l id socket de ladversaire + pseudo de l attaquant
            $(".go-fight").on("click", function () {
                //condition pour empecher qu'on s'envois à nous meme
                if (id != '{{app.session.get('id_generate')}}') {
                    socket.emit('askBattle', {id: id, pseudo_attack: '{{app.session.get('pseudo')}}', id_attaque: '{{app.session.get('id_generate')}}'});
                    //Permet de remplir le tableau des envois d'attaque
                    socket.emit('sendRequest', {id: id, pseudo_attack: '{{app.session.get('pseudo')}}', id_attaque: '{{app.session.get('id_generate')}}'});

                }
                $('#attack-opponent').modal('hide')
            });
            socket.on('list_error', function (data) { // le serveur nous renvois le nom de l'attaquant
                if (data.value) { // Affichage d'un message de notification 
                    if (data.value == 2) {
                        socket.emit('get_attack_send', {id_generate: '{{app.session.get('id_generate')}}'}); // on envoie au serveur
                        socket.emit('get_attack_receive', {id_generate: '{{app.session.get('id_generate')}}'}); // on envoie au serveur
                    }
                    $('#flash-messages').empty();
                    $('#flash-messages').append(data.message);
                    $('#flash-messages').flashNotification('init');
                }
            });
            //Petite astuce pour select la notif car elle apparait dans le dom le defenseur accepte le combat
            $(document).on('click', '.accept-fight', function () {
                socket.emit('acceptFight', {id_attack: $(this).attr('data-adv'), id_defense: '{{app.session.get('id_generate')}}'});//contient l'id de attaquant + l'id du def
            });
            $(document).on('click', '.refuse-fight', function () {
                console.log('refuse')
                socket.emit('removeFight_send', {id_defense:'{{app.session.get('id_generate')}}', id_attack:  $(this).attr('data-adv'),status : '2'});
                socket.emit('removeFight_receive', {id_defense:'{{app.session.get('id_generate')}}', id_attack:  $(this).attr('data-adv'),status : '2'});

            });
            $(document).on('click', '.remove-list-fight', function () {
                socket.emit('removeFight_send', {id_defense: $(this).attr('data-adv'), id_attack: '{{app.session.get('id_generate')}}',status : '1'});
                socket.emit('removeFight_receive', {id_defense: $(this).attr('data-adv'), id_attack: '{{app.session.get('id_generate')}}',status : '1'});

            });
            //Le defenseur à accepter on le redirige donc sur la page choix des team
            socket.on('choose_army', function (data) { // on redirige sur le choix de la team avec l id de la partie
                // On signal Ã  lattaquant que le def Ã  accepter
                socket.emit('return_attack', {id_attack: data.id_attaque, gameID: data.game, pseudo_defense: '{{app.session.get('pseudo')}}'});//on signale a lataquant qu'on est ok
                socket.emit('remove_fight_accept', {id_defense:'{{app.session.get('id_generate')}}'}); // on supprime la demande une fois accepté

                document.location.href = "/team/" + data.game + '-' + 0;

            });
            $(document).on('click', '.join_def', function () {
                console.log('accepte')
                console.log($(this).attr('data-game'));
                socket.emit('lie_attack_socketGame', {id_attack: '{{app.session.get('id_generate')}}', gameID: $(this).attr('data-game')});//on pense Ã  lier la socket de lattack Ã  l id du game
                socket.emit('remove_fight_accept_attack', {id_attack:'{{app.session.get('id_generate')}}'}); // on supprime la demande
                socket.emit('remove_attack_accept', { id_defense: $(this).attr('data-defense') }); // on supprime la demande
                document.location.href= "/team/"+$(this).attr('data-game')+'-'+1;

            });
            //Affiche la notif sur l'onglet
            socket.on('notif_attack', function (data) { // on redirige sur le choix de la team avec l id de la partie
                var num = $('.number-accept')
                var num_value = num.text();
                num.text(parseInt(num_value) + 1);
                num.removeClass("label-warning").addClass("label-success").addClass("blink");

                var menu = $('.menu-accept');
                menu.append('<li> <a href="#">  <div class="pull-left"> <img src="{{ asset('/bundles/rmplatform/images/ribbon/icon-star.png') }}" class="img-circle" alt="User Image"/> </div> <h4> <b>' + data.pseudo_def + '</b> à accepter votre duel ?</h4> <p><button type="button" data-game="' + data.game + '" class="join_def btn btn-primary">Rejoindre !</button></p> </a></li>');

            });
            $('#form_message').focus();

            $( "#form_valider" ).click(function( event ) {
                event.preventDefault();

                if($('#form_message').val().length > 3){
                    socket.emit('send_message', {message: $('#form_message').val(),pseudo :'{{app.session.get('pseudo')}}' });
                    $('#form_message').val('');

                }

                return false;

            });

            socket.on('show_message', function (data) { // on redirige sur le choix de la team avec l id de la partie

                if(data.news == 0){
                    $('.tchat-message').prepend('<div class="message"> <img class="img-number-receive" src="{{ asset('bundles/rmplatform/images/ribbon/user.png') }}" alt=""/><p class="message-write"><strong>'+data.pseudo +'</strong> :  '+data.message+'</p> <p class="date">'+data.heure+':'+data.minute+'</p> </div>')

                }else{
                    $('.tchat-message').prepend('<div class="message"> <img class="img-number-receive" src="{{ asset('bundles/rmplatform/images/ribbon/user.png') }}" alt=""/><p class="message-write"><strong>'+data.pseudo +'</strong> vient de se connecter</p> <p class="date">'+data.heure+':'+data.minute+'</p> </div>')

                }

                $('#form_message').focus();

            });

            socket.on('return_message', function (data) { // on redirige sur le choix de la team avec l id de la partie

                $.each(data, function( index, value ) {
                        $('.tchat-message').prepend('<div class="message"> <img class="img-number-receive" src="{{ asset('bundles/rmplatform/images/ribbon/user.png') }}" alt=""/><p class="message-write"><strong>'+value.pseudo +'</strong> :  '+value.message+'</p> <p class="date">'+value.heure+':'+value.minute+'</p> </div>')


                });

            });




        });



        $('#flash-messages').flashNotification('init');
        $(".loader-overlay").delay(6000).addClass("loaded");



    </script>
{% endblock %}

