{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RMPlatformBundle::layout.html.twig" %}

{% block title %}
    Team - {{ parent() }}
{% endblock %}


{% block rmplatform_body %}
<div class="loader-overlay">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
</div> 
<section id="main">
        <div class="container" >
                <div class="row">
                    <div class="col-md-10">
                          
                        <div id='tiles' class="color-full"></div>
                        <input type="hidden" id="set-time" value="1"/>
                          {% if app.session.get('type') == 0 %}
                                <div class="name">{{ app.session.get('pseudo') }}</div>
                                <div class="type"> Defenseur </div>
                        {% else %}
                                <div class="name">{{ app.session.get('pseudo') }}</div>
                                <div class="type"> Attaquant </div>

                        {% endif %}</strong>
                        <img src="{{ asset('bundles/rmplatform/images/icone/barre.png') }}" alt="barre"/>

                    </div>

                </div>
            {{ include('AretusaFlashBundle::flash-messages.html.twig') }}

          

                <div class="row">
                    <form method="post" action="" class="responsive-center">
                        {% if app.session.get('type') =="1" %}
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierrouge_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierrouge_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierrouge_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierrouge_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-sm-offset-5 col-sm-3">  <button id="submit" class="btn btn-primary">Valider</button></div>

                        {% else %}
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierbleu_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierbleu_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierbleu_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-md-3 selection">
                                <img class="top_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/top.png') }}" alt="Example"/>
                                <img data-value="1" src="{{ asset('bundles/rmplatform/images/guerriers/guerrierbleu_1.png') }}" alt="Example"/>
                                <img class="bottom_guerrier div-center-team" src="{{ asset('bundles/rmplatform/images/icone/bottom.png') }}" alt="Example"/>
                            </div>
                            <div class="col-sm-offset-5 col-sm-3">  <button id="submit" class="btn btn-primary">Valider</button></div>
                        {% endif %}




                    </form>
                </div>

        </div>

    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script language="javascript" type="text/javascript">

        var socket = io.connect('http://213.167.240.117:8181');
        var compteur = true;
        //Si on actualise
        socket.emit('firstConnect', { id_generate: '{{app.session.get('id_generate')}}', pseudo: '{{app.session.get('pseudo')}}',url : 'team' }); // on envoie au serveur
        socket.emit('lie_attack_socketGame_player', {gameID: '{{app.session.get('id_game')}}'});

        socket.on('receiveListWarriors', function (data) {
        });

        //On lance le compteur au serveur
        socket.emit('compteur', {idGame: '{{app.session.get('id_game')}}'});
        socket.on('setCompteur', function (data) {
            //le param contient la valeur du compteur actuel
            var minutes = $('.minutes');
            var seconds = $('.seconds');
            var count = $('#tiles');
            var time_passed = 0;


            date1 = new Date();
            date2 = new Date(data.time_start);
            diff = dateDiff(date1, date2);
            var time;
            function setDate() {

                time = new Date(data.time_end);//launch

                var d1 = new Date (),
                now = new Date ( d1 );

                now.setMinutes ( d1.getMinutes() + ( diff.min) );
                now.setSeconds(d1.getSeconds() + (diff.sec));


                var s = ((time.getTime() - now.getTime()) / 1000) - now.getTimezoneOffset() * 60;
                var d = Math.floor(s / 86400);
                s -= d * 86400;

                var h = Math.floor(s / 3600);
                s -= h * 3600;

                var m = Math.floor(s / 60);
                s -= m * 60;
                s = Math.floor(s);

                count.html('<span>' + pad(m) + '</span>:' + '<span>' + pad(s) + '</span>')
                if(compteur){
                    if (time.getTime() <= now.getTime()) {
                        compteur = false;
                        console.log(compteur)
                        //Le compteur est terminé le joueur n'a pas choisi de garnison on le signal au server
                        clearTimeout(compteur_player);
                        //La personne n'a pas choisie sa team on quitte tout
                        socket.emit('failCompteur', {id_generate: '{{app.session.get('id_generate')}}', idGame: '{{app.session.get('id_game')}}'}); // on envoie au serveur
                    }
                    var compteur_player = setTimeout(setDate, 1000);

                }

            };
            function dateDiff(date1, date2){
                var diff = {}                           // Initialisation du retour
                var tmp = date2 - date1;

                tmp = Math.ceil (tmp/1000);             // Nombre de secondes entre les 2 dates
                diff.sec = tmp % 60;                    // Extraction du nombre de secondes

                tmp = Math.ceil ((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
                diff.min = tmp % 60;                    // Extraction du nombre de minutes

                tmp = Math.ceil ((tmp-diff.min)/60);    // Nombre d'heures (entières)
                diff.hour = tmp % 24;                   // Extraction du nombre d'heures

                tmp = Math.ceil ((tmp-diff.hour)/24);   // Nombre de jours restants
                diff.day = tmp;

                return diff;
            }

            setDate();

        });

        function pad(n) {
            return (n < 10 ? '0' : '') + n;
        }
        socket.on('redirect_room', function (data) {
            console.log("redirect")
         //   document.location.href = "http://localhost/romemars/web/app_dev.php/room";
            $.ajax({
                method: "POST",
                url: "/message/"+ 3
            })
                    .success(function(response) {
                        if(response){
                            window.location = '/room';
                        }
                    });
        });
        $("form").submit(function (e) {
            e.preventDefault();

              var obj_choice = [];
              $(".selection").each(function (index) {
                  obj_choice.push({id: index, value: parseInt($(this).find("img:eq(1)")[0].dataset.value) });
              });

            obj_choice.sort(function(a, b) {
                return parseFloat(a.value) - parseFloat(b.value);
            });


          var tes =  foo(obj_choice)


          var find = true;
          tes.filter(function (el) {

                if(el >= 3){
                    find = false;
                }
          });



           if(!find){
               $('#flash-messages').empty();
               $('#flash-messages').append('<div class="alert alert-dismissible notif"> <button class="close" data-dismiss="alert">&times;</button>Vous ne pouvez pas prendre plus de deux fois la meme unité.</div>');
               $('#flash-messages').flashNotification('init');
               return false;
           }

            if (obj_choice.length == 4) {

                obj_choice.sort(function(a, b) {
                    if (a.id > b.id)
                        return 1;
                    if (a.id < b.id)
                        return -1;
                    // a doit être égale à b
                    return 0;
                });

                 socket.emit('set_armies',{choose:obj_choice,idGame: '{{app.session.get('id_game')}}',idPlayer:'{{app.session.get('id_generate')}}',type:'{{app.session.get('type')}}'  });
            }
        });
        //On clique pour le retour à l'accueil
        $(".mod-button").on("click", function () {
            document.location.href = "/room/";
        });
        socket.on('map', function (data) {
            document.location.href = "/map/" +  '{{app.session.get('id_game')}}';
        });
        //On passe ici pour verifier si les joueurs sont tjr presents
       /* socket.on('testPlayerConnect', function (data) { // le serveur nous renvois le nom de l'attaquant

            console.log('on passe bien ici')
            socket.emit('controlPlayerOnline', {idGame: '{{app.session.get('id_game')}}', id_generate: '{{app.session.get('id_generate')}}'  });


        });*/

        function foo(arr) {
                var a = [], b = [], prev;

                arr.sort();
                for ( var i = 0; i < arr.length; i++ ) {
                    if ( arr[i].value !== prev ) {
                        a.push(arr[i].value);
                        b.push(1);
                    } else {
                        b[b.length-1]++;
                    }
                    prev = arr[i].value;
                }

               // return [a, b];
                return b;

        }





   	$(".loader-overlay").delay(6000).addClass("loaded");

    </script>
{% endblock %}
