#menu nav {
    width:60%;
    margin:10% auto;
}
#menu ul {
    list-style:none;
    overflow:visible;
    text-align:center;
}
#menu i {
    float:left;
    border-top:3px solid #7e2119;
    margin:0 2px;
    position:relative;
    
}
#menu li {
    float:left;
    border-top:3px solid #7e2119;
    margin:0 2px;
    position:relative;
}
#menu li> a {
    text-decoration:none;
    display:block;
    padding:20px 30px;
    letter-spacing:0.2em;
    text-transform:uppercase;
    text-shadow:0 0 3px #fff;
    color:transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}
#menu li>a.visited, #menu li> a:hover {
    color:#fff;
  //  border-top:2px solid #ccc;
}
#menu li>a.visited {
    background:#7e2119;
    
}
#menu li>a.visited:before,#menu li>a.visited:after {
    display:block;
    content:"";
    width:0;
    height: 0;
    position:absolute;
    background: none;
    bottom:-67px;
    border-top: 78px solid #7e2119;
}
#menu li>a.visited:before {
    border-right: 100px solid transparent;
    left:0;
}
#menu li>a.visited:after {
    border-left: 100px solid transparent;
    right:0;
}
/* Responsive */
@media screen and (max-width: 1325px) {
    #menu nav {width:75%;}
    #menu li>a {padding:35px 25px;}
}
@media screen and (max-width: 1024px) {
    #menu nav {width:80%;}
    #menu li>a {padding:30px 20px;}
}
@media screen and (max-width: 870px) {
    #menu nav {width:90%;}
}
@media screen and (max-width: 768px) {
    #menu nav {width:40%;margin:10%;}
    #menu ul {text-align:left;}
    #menu li {float:none;border-top:none;border-left:3px solid #61170e;margin-bottom:2px;}
    #menu li>a {padding:40px 20px;max-width:200px;min-width:200px;}
    #menu li>a.visited, #menu li>a:hover {border-top:none;border-left:2px solid #ccc;}
    #menu li>a.visited:before,#menu li>a.visited:after {left:200px;}
    #menu li>a.visited:before {
        border-top:55px solid #61170e;
        border-right:75px solid transparent;
        top:0;
    }
    #menu li>a.visited:after {
        border-bottom:55px solid #61170e;
        border-right:75px solid transparent;
        border-left:0;
        border-top:0;
        bottom:0;
    }
}
@media screen and (max-width: 400px) {
    #menu nav {width:50%;}
}
