.transition {
    background-color: #5cb85c; /* pour les vieux navigateurs */
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-fonction: linear;

}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5 ;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 5;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;

}

@-moz-keyframes blinker {
    0% { background-color: #5cb85c; }
    50% { background-color: #f0ad4e; }
    100% { background-color: #5cb85c; }
}

@-webkit-keyframes blinker {
    0% { background-color: #5cb85c; }
    50% { background-color: #f0ad4e; }
    100% { background-color: #5cb85c; }
}

@keyframes blinker {
    0% { background-color: #5cb85c; }
    50% { background-color: #f0ad4e; }
    100% { background-color: #5cb85c; }
}
.progress {
    position: relative;
}

.progress span {
    position: absolute ;
    display: block ;
    width: 100% ;
    color: #7e2119;
}
