#ribbon{
    background: url("/bundles/rmplatform/images/ribbon/ribbon.png");
    height: 83px;
    width: 69%;
    margin:auto; !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

#menu-player{
    padding: 0 61px;
}
#menu-player ul {
    margin: 0;
    padding: 0;
}
#menu-player li {
    margin: 0;
    padding: 0;
   /* display: inline-block;*/
}
#menu-player a {
    display: block;
    position: relative;
    background-color: transparent;

}

#menu-player span.number-send {
    position: absolute;
}
#menu-player span.number-receive {
    position: absolute;
}
#menu-player span.number-accept {
    position: absolute;
}

.dropdown-menu{
    background-color: #7e2119;
}


