/*----------------------------------------------
 Now let's Reset Stuff
----------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }	
body {
    background-color: #302429;
    font-weight: 400;
    color: white;
}

header{
    background: url("/bundles/rmplatform/images/layout/bg_menu.png") repeat-x scroll center top rgba(0, 0, 0, 0);
    height: 95px;
    margin-top: 25px;
    position: relative;
    z-index: 800;
}
.navbar-brand{
    padding: 0;
    
}
.navbar-brand img {
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    max-width: 100%;
    width: 100%;
}
.navbar-default {
    background:transparent;
    border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
            background-color:transparent !important;

}
#main {
    background: url("/bundles/rmplatform/images/layout/bg_body.jpg") no-repeat scroll center top #302429;
    position: relative;
}
h2{
  color: #b9121b;
  font-size: 36px;
  font-family: 'Augustus';

}
#navbar ul li {
    display: inline;
    float: left;
    font-size: 22px;
    margin-left: 40px;
    text-transform: uppercase;
}
#navbar ul li:first-child {
    margin-left: 50px;
}
#navbar ul li a {
    color: #fff;
    transition: all 0.1s linear 0s;
}
#navbar ul li.active a, #main_nav ul li a:hover {
    color: #b9121b;
}
/*#navbar ul li a:hover,.navbar ul li a:hover,.navbar-right:hover {
    color: #b9121b;
    background-color: transparent !important;

}*/
.bloc-note{
    background: url("/bundles/rmplatform/images/layout/notepad_pattern.jpg") repeat scroll left top rgba(0, 0, 0, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.2) inset;
    color:black;
  
}
.bloc-note h2 {
    padding: 7px 0 0 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    background-position: 0 -69px;
    height: 61px;
    color: #b9121b;


}
.bloc-note h3 {

    text-transform: uppercase;

}
.bloc-note .bloc-date{
    color: #b9121b;
    font-size: 27px;
    line-height: 31px;
    padding: 0 0 0 46px;
}
.bloc-note .title{
    color: #f6e497;
    font-size: 18px ;
    text-align: center;
}
.bloc-note .title p{
    color: black;
}

.note{
   padding:  10px 0px 15px;
}
.div-center-team{
    margin-left: 72px;
   /* margin-right: auto;
    text-align: center;*/
}

.news img{
    border-style: solid;
    border-color: #b9121b;
    border-width: medium;
    height: auto; // redimensionne les images

   width:100%;
  max-width:100%;
}
.news h2{
  color: #b9121b;
  font-size: 36px;
  padding: 0 0 15px;


}
.news h3{
  color: #b9121b;
  font-size: 26px;
padding: 0 0 15px;
}


footer .social_share ul li a.tw,
footer .social_share ul li a.fb,
footer .social_share ul li a.gp,
.bloc-note h2{ 
    background-image: url('/bundles/rmplatform/images/layout/sprite.png');
}

footer .social_share ul li a.tw,
footer .social_share ul li a.fb,
footer .social_share ul li a.gp { display: block; text-indent: -999999px; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}

footer .social_share ul li a.tw { background-position: 0 -1831px; width: 46px; height: 45px;}
footer .social_share ul li a.tw:hover { background-position: 0 -1940px; width: 46px; height: 45px;}
footer .social_share ul li a.fb {  background-position: 0 -1367px; width: 44px; height: 44px;}
footer .social_share ul li a.fb:hover {  background-position: 0 -1431px; width: 44px; height: 44px;}
footer .social_share ul li a.gp { background-position: 0 -1599px; width: 46px; height: 44px;}
footer .social_share ul li a.gp:hover { background-position: 0 -1662px; width: 46px; height: 44px;}




footer {
    background: url("/bundles/rmplatform/images/layout/bg_footer.png") ;
   // height: 69px;
    margin-top: 85px;
    position: relative;
    width: 100%;
}
/*[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/
#sep_bg { 
    background: url("/bundles/rmplatform/images/layout/bg_body_top.png") repeat-x center top;
    height: 52px;
    margin-top: -85px;
    position: relative;
    z-index: 800;
}
.big_sep {
    background: url("/bundles/rmplatform/images/layout/sep_small.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 8px;
    margin: 25px 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.luck {
    font-weight: 400;
    text-transform: uppercase;
}
.center-element{
    margin-top: 17px;
}

button, input, optgroup, select, textarea {
    color: initial;
    font: inherit;
    margin: 0;
}

.pagination {
    margin: 20px 0;
}
.pagination ul {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li > a, .pagination ul > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}
.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999;
    cursor: default;
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.pagination-large ul > li > a, .pagination-large ul > li > span {
    font-size: 17.5px;
    padding: 11px 19px;
}
.pagination-large ul > li:first-child > a, .pagination-large ul > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-large ul > li:last-child > a, .pagination-large ul > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination-small ul > li > a, .pagination-small ul > li > span {
    font-size: 11.9px;
    padding: 2px 10px;
}
.pagination-mini ul > li > a, .pagination-mini ul > li > span {
    font-size: 10.5px;
    padding: 0 6px;
}

/* effet rideau*/
#curtain-left{
    background-image: url('/bundles/rmplatform/images/walls/walls.png');

    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 8000;
    right:0;
}
#curtain-right{
    background-image: url('/bundles/rmplatform/images/walls/walls.jpg');
    left:50%;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 8000;
    left:0;
}
.mini-curtain-left{
    background-image: url('/bundles/rmplatform/images/walls/shieldright.png');
    width:150px;
    height: 300px;
    position: absolute;
    z-index: 8000;
    left:0;
    top: 30%;
}
.mini-curtain-right{
    background-image: url('/bundles/rmplatform/images/walls/shieldleft.png');
    width:150px;
    height: 300px;
    position: absolute;
    z-index: 8000;
    right:0;
    top: 30%;
}
.mini-curtain-right p{
    text-align: center;
    color:black;
    background-color: gray;
    height: 100%;
    margin: auto;
    position: relative;
}

#pageloader {
    background-color: #302429;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
#time{
  /*  background-color: rosybrown;
    height: 12%;
    left: 45%;
    position: absolute;
    top: 34%;
    width: 10%;
    z-index: 8002;*/
}
.compteur-wait{
    
}
.loader-item {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgba(0, 0, 0, 0) !important;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-top-style: solid;
    border-top-width: 3px;
    height: 40px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: 0;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}
.colored-border {
    border-bottom-color: #b9121b;
    border-left-color: #b9121b;
    border-right-color: #b9121b;
    border-top-color: #b9121b;
}
.option-carousel{
    position: absolute;
    top:83%;
}

.select_avatar{
    box-shadow: 0 0 15px;
}
.move-true{
    color: #5cb85c;

}
.move-false{
    color: red;
}
.panel-background-modal{
    background-color: #7e2119;
}
.name_room{
    position: relative;
    top:27px;
}
.sandal{
    position: relative;
    margin:0 26px;
}
.bow{
    margin: 0 21px;
}
.sandal_value{
    margin: 0 21px;
}
nav{
    font-family: 'Augustus';

}



