 #tiles{

     margin: 30px 60px;
    position: absolute;
}

.name{

    margin: 18px 132px;
    position: absolute;
    
}
.type{

    margin : 42px 132px;
    position: absolute;

}
.time-wait-min{
     float: right;
     position: relative;
     top:40%
 }

 .time-wait-sec{
     position: relative;
     top:40%
 }


.content-tour {
   
    position: absolute;
    left: 52px;
    top: 124px ;
    float: left;
}/*
.contents-info{
    left: 15%;
    margin-bottom: 4%;
    margin-top: -72px;
    position: relative;
}*/

 .show-tour{
     margin:0 25px;
 }
 .show-compteur{
     margin:0 33px;
 }