@media (max-width: 767px) {
    body{
        background-color: yellow;
    }

    #menu-player{
        background-color: #7e2119;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        border : 3px solid white;
        padding: 0 !important;
        margin:0 !important;
    }
    #menu-player li{
       display: block !important;
    }
    #menu-player li.open .dropdown-menu {
        display: block !important;
      /*  float: left;*/
      /*  background-color: #81674f;*/
        background-color: #81674f;
        display: block !important;
        float: right;
        left: 25%;
        padding: 0;
        position: absolute;
        top: -90%;
    }

    #menu-player li a {
        display: inline-block !important;
        position: relative !important;

    }
    .dropdown-menu{
         width:70% !important;
     /*   float: none!important;*/
    }
    li.dropdown{
        height: auto;
    }


}

@media (max-width: 991px) {
    body{
        background-color: cyan;
    }

    .responsive-center{

        margin : 45px 83px;
        position: relative;
    }
    .div-center-team{
        margin-bottom: 152px;
        margin-left : 0px;
    }


}

