{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout_pere.html.twig" %}
{% block stylesheets %}
  <!--Main Stylesheet-->
    {{ parent() }}


 {% endblock %}
{% block title %}
 {{ parent() }}
{% endblock %}


{% block rmplatform_body %}

{% endblock %}


  {% block javascripts %}
       {{ parent() }}
         <script type="text/javascript" src="{{ asset('bundles/rmplatform/node/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js') }}"></script>
  {% endblock %}