.loader-overlay {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2d2e2f;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    bottom: 0;
    left: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective: 10000px;
    position: fixed;
    right: 0;
    top: 0;
    transition-delay: 0s;
    transition-duration: 800ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    z-index: 10000;
}
.loader-overlay .loader-inner {
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.loader-overlay.loaded {
    opacity: 0;
    visibility: hidden;
}
.spinner {
    -moz-user-select: none;
    bottom: 0;
    height: 2em;
    left: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 10em;
}
.spinner .bounce1 {
    animation-delay: -0.32s;
    margin-right: 1em;
}
.spinner .bounce2 {
    animation-delay: -0.16s;
    margin-right: 1em;
}
.spinner > div {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1.4s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: bouncedelay;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    background-color: #ffffff;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    height: 1em;
    width: 1em;
}
.landing-slider .spinner > div {
    background-color: rgba(255, 255, 255, 0.5);
}
.landing-els .spinner > div {
    background-color: rgba(0, 0, 0, 0.2);
}
.context-menu .dropdown-menu {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.context-menu .dropdown-menu .dropdown-title {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #319db5;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #fff;
    font-family: "Lato",arial,sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    text-transform: uppercase;
}
#map .amcharts-chart-div svg {
    left: 0;
    right: auto;
}
#noty_topLeft_layout_container li:first-child {
    left: 40px;
    position: relative;
    top: 0;
}
.circular {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 2s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-play-state: running;
    animation-timing-function: linear;
    color: #319db5;
    height: 80px;
    margin-left: -20px;
    position: relative;
    width: 80px;
}
.path {
    animation-delay: 0s, 0s;
    animation-direction: normal, normal;
    animation-duration: 1.5s, 4s;
    animation-fill-mode: none, none;
    animation-iteration-count: infinite, infinite;
    animation-name: dash, color;
    animation-play-state: running, running;
    animation-timing-function: ease-in-out, ease-in-out;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}
.main-content .page-content .panel .panel-header h2 {
    margin-bottom: 5px;
    margin-top: 7px;
}
.note-editor .btn.btn-transparent {
    margin-left: 0;
    margin-right: 0;
}
.note-editor .btn {
    height: 37px !important;
}
.note-editor .dropdown-toggle .caret {
    margin-top: 5px;
}
.note-air-popover .btn.btn-transparent {
    height: 37px !important;
    margin-left: 0;
    margin-right: 0;
}
.note-color .dropdown-toggle {
    width: 32px !important;
}
.text-center {
    text-align: center !important;
}
.maximized-panel .page-content [class^="col-"] {
    width: 100% !important;
}
@keyframes rotate {
100% {
    transform: rotate(360deg);
}
}
@keyframes dash {
0% {
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 89, 100;
    stroke-dashoffset: -35;
}
100% {
    stroke-dasharray: 89, 100;
    stroke-dashoffset: -62;
}
}
@keyframes color {
100%, 0% {
    stroke: #319db5;
}
30% {
    stroke: #9b7ed1;
}
60% {
    stroke: #18a689;
}
80%, 90% {
    stroke: #d62d20;
}
}
@keyframes bouncedelay {
0%, 80%, 100% {
    transform: scale(0);
}
40% {
    transform: scale(1);
}
}


.navigation-container {
    background-color: blue;
}
.toggle-display {
    height:60px;
    background-color:red;
}
#selected-display {
    height:200px;
    min-height:100px;
    display:none;
}