.content-tchat{
    background-color: #231a1e;
    width: 100%;
    height: 500px;
}
.tchat-message{
    background-color:  #61170e;
    width: 100%;
    height: 440px;
    overflow-x: auto;
}

.message{
    margin-bottom: 5px;
    margin-left: 10px;
    position: relative;
    top: 5px;}
p.message-write{
    display: inline;
    top: -20px;
    position: relative;
    margin-left: 5px;
}

p.date{
    display: inline;
    float: right;
    position: relative;
    margin-right: 10px;
}